body {
    border-color: black;
    border: 1px solid;
    font-family: sans-serif;
}

header {
    padding: 1em;
    border-color: black;
    border-bottom: 1px solid;
    background-color: lightgrey;
    display: flex;
    justify-content: flex-start;
}

.caixabaixa {
    padding: 1em;
    border-color: black;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    background-color: lightgrey;
    margin-left: 15em;
    margin-right: 15em;
    display: flex;
    align-items: flex-start;
    
}

.areamensagens {
    background-color: white;
    height: 36em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

p {
    padding: 1em;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom:0;
    border-color: black;
    border: solid 1px
}
.caixadetexto{
    width: 64em;
    height: 12em;
}


.botãoenviar{
    background-color: rgb(70, 70, 209);
    color: white;
    border-radius: 20%;
    border-style: none;
    width: 7.5em;
    height: 4.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.botãoeditar{
    background-color: rgb(211, 109, 41);
    border-style: none;
    height: 2em;
    margin-left: 92.14%;
    margin-top: 0.3px;
    
}

.botãoapagar{
    background-color: rgb(223, 30, 30);
    height: 2em;
    border-style: none;
    margin-top: 0.3px;
}